<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title here
      </mat-panel-title>
      <mat-panel-description>
        Some description here
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>info</mat-icon>
        Pre-placement information
      </mat-list-item>
      <mat-list-item>
        <mat-icon>clear</mat-icon>
        Previous project One
      </mat-list-item>
      <mat-list-item>
        <mat-icon>done</mat-icon>
        Previous project Two
      </mat-list-item>
    </mat-nav-list>
    <mat-action-row>
      <button mat-raised-button routerLink="/student/form/self-sourced">Self-sourced project</button>
      <button mat-raised-button routerLink="/student/form/bespoke">EOI (bespoke)</button>
      <button mat-raised-button routerLink="/student/survey">Give feedback</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Projects
      </mat-panel-title>
      <mat-panel-description>
        Show your interest in a project
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-form-field>
      <mat-label>Faculty</mat-label>
      <mat-select [(ngModel)]="faculty">
        <mat-option *ngFor="let faculty of faculties" [value]="faculty">
          {{faculty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Semester</mat-label>
      <mat-select [(ngModel)]="semester">
        <mat-option *ngFor="let semester of semesters" [value]="semester">
          {{semester}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-nav-list>
      <mat-list-item *ngFor="let project of projects | async" routerLink="/student/{{project.id}}">
        {{ project.title }}
      </mat-list-item>
    </mat-nav-list>
    <button mat-fab>
      <mat-icon aria-label="Add" (click)="addNewProject()">add</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>