<mat-card>
  <button mat-button color="accent" style="font-size: 28px;">GET STARTED</button>
  <button mat-mini-fab color="accent">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <p>
    Before you start your project you must complete getting started section.
  </p>
</mat-card>
<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Student Dashboard
      </mat-panel-title>
      <mat-panel-description>
        Everything you need to do on projects you're applying for
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item routerLink="/project/selfSourced/{{user.uid}}">
        <mat-icon>done</mat-icon>
        Submitted self-sourced project
      </mat-list-item>
      <mat-list-item routerLink="/project/bespoke/{{user.uid}}">
        <mat-icon>done</mat-icon>
        Submitted bespoke EOI
      </mat-list-item>
      <mat-list-item routerLink="/project/projects/B5rn5WjvEmolkdbpjtgg">
        <mat-icon>clear</mat-icon>
        Web site
      </mat-list-item>
      <mat-list-item routerLink="/project/projects/lCXobWn1MMeOwBSiKdDr">
        <mat-icon>done</mat-icon>
        Market Research at Vistario
      </mat-list-item>
    </mat-nav-list>
    <mat-action-row>
      <button mat-raised-button routerLink="/student/form/self-sourced">Self-sourced project</button>
      <button mat-raised-button routerLink="/student/form/bespoke">EOI (bespoke)</button>
      <button mat-raised-button routerLink="/student/survey">Give feedback</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Current available projects
      </mat-panel-title>
      <mat-panel-description>
        Show your interest in a project
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <mat-form-field>
      <mat-label>Faculty</mat-label>
      <mat-select [(ngModel)]="faculty">
        <mat-option *ngFor="let faculty of faculties" [value]="faculty">
          {{faculty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Semester</mat-label>
      <mat-select [(ngModel)]="semester">
        <mat-option *ngFor="let semester of semesters" [value]="semester">
          {{semester}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-nav-list>
      <mat-list-item *ngFor="let project of projects | async" routerLink="/student/{{project.id}}">
        {{ project.title }}
      </mat-list-item>
    </mat-nav-list>
    <button mat-fab>
      <mat-icon aria-label="Add" (click)="addNewProject()">add</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>