<mat-tab-group>
  <mat-tab label="Home">
    <mat-form-field>
      <input matInput placeholder="Find Student">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Find Business">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Find Project">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button routerLink="/business/eoi/blank">Create new project</button>
  </mat-tab>

  <mat-tab label="To Do">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="row">
      <span class="fill-space"></span>
      <button mat-raised-button [matMenuTriggerFor]='filterMenu'>
        Filter
      </button>
      <mat-menu #filterMenu="matMenu">
        <button mat-menu-item>Self Sourced Approvals</button>
        <button mat-menu-item>Help Requests</button>
        <button mat-menu-item>Student Without Project</button>
        <button mat-menu-item>Vacant Project</button>
        <button mat-menu-item>Incomplete Project</button>
        <button mat-menu-item>Communications</button>
      </mat-menu>
      <button mat-raised-button [matMenuTriggerFor]='sortMenu'>
        Sort
      </button>
      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item (click)="sortToDosByTitle()">By Title</button>
        <button mat-menu-item (click)="sortToDosByTime()">By Time</button>
      </mat-menu>
    </div>

    <mat-nav-list>
      <mat-list-item *ngFor="let todo of todos | async" routerLink="/university/todo/{{todo.id}}">
        <h4 mat-line>{{todo.title}}</h4>
        <p mat-line>
          {{timestampToString(todo.created) | date: 'd LLL yy, h:mm a'}}.
          {{todo.eoiBusiness?.title}} {{todo.project?.hostName}}
          {{todo.student?.displayName}} {{todo.selfSourced?.studentName}}
        </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-tab>

  <mat-tab label="Reports">
    <iframe width="940" height="650"
      src="https://datastudio.google.com/embed/reporting/1d07CO6_hZHYOVFy6Epwm7QBM4llU45Fx/page/aIgL" frameborder="0"
      style="border:0" allowfullscreen>
    </iframe>
  </mat-tab>
  <mat-tab label="Events Log">
    <app-events-viewer></app-events-viewer>
  </mat-tab>
  <mat-tab label="Help">
    <app-university-help></app-university-help>
  </mat-tab>
</mat-tab-group>