<mat-card>
  <mat-card-header>
    <mat-card-title>
      Projects
    </mat-card-title>
    <mat-card-subtitle>
      Choose one to view and apply
    </mat-card-subtitle>
  </mat-card-header>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="column" fxLayoutAlign=" end">
    <button mat-raised-button [matMenuTriggerFor]='filterMenu'>
      Filter
    </button>
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item>Semester 1</button>
      <button mat-menu-item>Semester 2</button>
      <button mat-menu-item>Semester 3</button>
      <button mat-menu-item>Semester 4</button>
    </mat-menu>
  </div>

  <mat-nav-list>
    <mat-list-item *ngFor="let project of projects | async" routerLink="/project/{{project.id}}">
      <h3 matLine> {{project.title}} </h3>
      <p matLine> {{project.description}} </p>
    </mat-list-item>
  </mat-nav-list>
</mat-card>